 .header{
   background-color: #87CEFA;
   color: #4169E1;
 }

 .info{
   background-color: #00BFFF;
   color: #483D8B;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0px;
   font-weight: bold

 }
